body {
    width: 100%;
    /*max-width: 960px;*/
    background-color: #69FFC0;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif
}

.nav-bar {
    width: 100%; /* ensures that the nav takes up the whole body width */
    margin: 0 0; /* provides top and bottom margin space */
    font-size: 18px;
    padding-bottom: 1px;
    padding-top: 1px;
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    background-color: #FF8069;
    color: white;
}

.main-nav {
    list-style-type: none;
}

nav ul {
    width: 100%; /* ensures that the links take up the whole width of the nav */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav ul li {
    width: 33.33%; 
}

.main-heading {
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.find {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
}

.find-box {
    width: 500px;
    height: 600px;
    background-color: white;
    border-style: double;
}

.map-box {
    width: 500px;
    height: 600px;
    background-color: white;
    border-style: double;
}

