body {
    width: 100%;
    /*max-width: 960px;*/
    background-color: #69FFC0;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif
}

.nav-bar {
    width: 100%; /* ensures that the nav takes up the whole body width */
    margin: 0 0; /* provides top and bottom margin space */
    font-size: 18px;
    padding-bottom: 1px;
    padding-top: 1px;
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    background-color: #FF8069;
    color: white;
}

.main-nav {
    list-style-type: none;
}

nav ul {
    width: 100%; /* ensures that the links take up the whole width of the nav */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav ul li {
    width: 33.33%; 
}

.main-heading {
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/************************/
/* Style for Index Page */
/************************/

.find {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
}

.find-box {
    width: 500px;
    height: 600px;
    background-color: white;
    border-style: double;
}

.map-box {
    width: 500px;
    height: 600px;
    background-color: white;
    border-style: double;
}

/************************/
/* Style for About Page */
/************************/

#about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.overview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.problem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
}

.approach {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
}

.problem-box {
    width: 450px;
    height: 250px;
    background-color: white;
    border-style: none;
}

.approach-box {
    width: 450px;
    height: 250px;
    background-color: white;
    border-style: none;
}

.team {
    display: flex;
    justify-content: space-around;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

figure img {
    max-width: 40%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 10px solid lightgray;
    width: 800px;
    color: lightgray;
    border-color: lightgray;
}

/********************************/
/* Style for Documentation Page */
/********************************/

#documentation-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}