/***************************/
/* COLORS:
/* -- light green: #96FF7A
/* -- dark green: #2C661D
/* -- dark pink: #FF877D
/* -- light pink: #FF9F96
/* -- reddish: #B34E46
/****************************/

body {
    width: 100%;
    /*max-width: 960px;*/
    background-color: #96FF7A;
    margin: 0 auto;
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'Oswald';
    margin-bottom: 30px;

}

h1 {
    font-family: 'Bebas Neue';
    font-size: 45px;
}

h2 {
    font-family: 'Oswald';
    font-weight: 500;
}

p {
    font-family: 'Oswald';
    font-weight: 200;
}

nav {
    width: 100%; /* ensures that the nav takes up the whole body width */
    height: 75px;
    margin: 0 0; /* provides top and bottom margin space */
    padding-bottom: 1px;
    padding-top: 1px;
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    background-color: #2C661D;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    /*width: 100%;  ensures that the links take up the whole width of the nav */
    font-size: 25px;
    margin: 15px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    color: #FF9F96;
}

.main-heading {
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

/* Credit to 'A.M.K.' on Stack Overflow:
/* https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load*/
@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
    from {opacity:0;}
    to {opacity: 1;}
}

/************************/
/* Style for Index Page */
/************************/

.find {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
}

.find-box {
    width: 500px;
    height: 600px;
    background-color: white;
    border-style: double;
    display: flex;
    flex-direction: column;
}

.filter {
    padding-left: 20px;
    padding-top: 5px;
}

.map-box {
    width: 675px;
    height: 600px;
    background-color: white;
    border-style: double;
    margin-left: 15px;
}

.custom .leaflet-popup-tip, 
.custom .leaflet-popup-content-wrapper {
  background: white;;
  color: black;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

/************************/
/* Style for About Page */
/************************/

#about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.overview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.problem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
}

.approach {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
}

.problem-box {
    width: 450px;
    height: 250px;
    background-color: white;
    border-style: none;
}

.approach-box {
    width: 450px;
    height: 250px;
    background-color: white;
    border-style: none;
}

.team {
    display: flex;
    justify-content: space-around;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

figure img {
    max-width: 40%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 10px solid lightgray;
    width: 800px;
    color: lightgray;
    border-color: lightgray;
}

#jasmine, #henley, #nicholas {
    transition: transform .15s;
}

#jasmine:hover, #henley:hover, #nicholas:hover {
    transform: scale(1.4);
}

.name {
    font-style: bold;
    font-size: 18px;
}

.role {
    font-style: italic;
    font-size: 15px;
}

/********************************/
/* Style for Documentation Page */
/********************************/

#documentation-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/**************************/
/* Style for Profile Page */
/**************************/

.market-name {
    text-align: center;
}

#profile-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.characteristics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.characteristics-box {
    background-color: lightgray;
    width: 400px;
    height: 600px;
}

.where-when {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.profile-map {
    width: 400px;
    height: 150px;
    background-color: lightgray;
}

.profile-hours {
    width: 300px;
    height: 350px;
    background-color: lightgray;
}
